/* @keyframes  */

h1 {
  font-family: 'Righteous', cursive;
  font-size: 80px;
  color: aliceblue; 
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

h2 {
  color: white;
  font-size: 50px;
  font-family: 'Righteous', cursive;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

h3 {
  color: white;
  font-weight: bold;
}

p {
  color: white;
}


body {
  background-image: url(../img/background.jpg);
  background-size: 100% 100%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 20px;
  color: aliceblue;
}

.intro {
  width: 100vw;
  height: 100vh;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-show{
  display: none;
}


#js, #python, #ruby {
  display:none;
  padding: 50px;
  margin-top: -50px;
}

img {
  margin-top: -130px;
  height: 320px;
  width: auto;
  margin-bottom: 20px;
}

.btn-primary {
  margin-bottom: -60px;
  font-size: 20px;
}

.answers {
  margin-top: 25px;
  height: 250px;
  width: auto;
}
